@import 'colors';
@import 'typography';
@import 'button';
@import 'auto-complete';
@import 'check-box';
@import 'text-field';
@import 'dialog-box';
@import 'date-field';
@import 'pop-over';
@import 'progress-bar';
@import 'password-field';
@import 'search-field';
@import 'sortable-list';
@import 'spinner';
@import 'snack-bar';
@import 'submit-button';
@import 'confirm-button';

* {
  box-sizing: border-box;
}

html {
  @extend .serif;
  line-height: 1.25rem;
}

.text-area {
  @extend .text-field;
}

.number-field {
  @extend .text-field;
}

.datetime-field {
  @extend .date-field;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
