.copy-field {
  position: relative;

  button {
    position: absolute;
    top: calc(0.1rem + 1px);
    right: calc(0.1rem + 1px);
    height: 1.8rem;
    line-height: 1rem;
    padding: 0.2rem 0.75rem;
  }
}
