.create-button {
  position: relative;
  max-width: 30rem;
  height: 2rem;
  margin: 1rem 0;

  .text-field input {
    padding-right: 3.5rem;
  }

  .submit-button {
    position: absolute;
    top: calc(0.1rem + 1px);
    right: calc(0.1rem + 1px);
    height: 1.8rem;
    line-height: 1rem;
    padding: 0.2rem 0.5rem;
  }

  .dialog-box & .text-field {
    max-width: 100%;
  }
}
