.form-for-nav {
  justify-content: space-between;
  margin-bottom: 1rem;

  .save-indicator {
    padding: 0.25rem;

    svg {
      position: relative;
      top: 3px;
    }

    .pop-over {
      white-space: nowrap;
    }
  }

  .overflow-menu {
    background-color: white;

    .pop-over-container {
      padding: 0 0.5rem 0.5rem;
    }
  }
}

@media(max-width: 500px) {
  .form-for-nav {
    flex-direction: column;
  }
}

.form-for_field {
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &.has-autocompletion .field {
    position: relative;

    input {
      padding-left: 2rem;
    }

    .autocomplete {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
    }
  }
}
