.password-field {
  @extend .text-field;
  position: relative;

  input {
    padding-right: 2.5rem;
  }

  a {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 2;
    width: 2.125rem;
    height: 2.125rem;

    svg {
      position: relative;
      top: 0.5rem;
      left: 0.5rem;
      width: 1.125rem;
      height: 1.125rem;
      pointer-events: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
