.password-field {
  @extend .text-field;
  position: relative;

  input {
    padding-right: 2.5rem;
  }

  a {
    position: absolute;
    top: 0.25rem;
    right: 1rem;
    z-index: 2;

    &, svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
