.search-field {
  position: relative;

  input {
    padding-right: 1.5rem;
  }

  &.has-icon input {
    padding-left: 2rem;
  }

  .search-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;
    overflow: hidden;

    &, svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  .clear {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 2;

    & {
      width: 2.125rem;
      height: 2.125rem;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 2.125rem;
        height: 2.125rem;
      }

      svg {
        pointer-events: none;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 1.125rem;
        height: 1.125rem;
      }
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
