.search-field {
  position: relative;

  input {
    padding-right: 1.5rem;
  }

  &.has-icon input {
    padding-left: 2rem;
  }

  .search-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;

    &, svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  .clear {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;

    &, svg {
      width: 1.125rem;
      height: 1.125rem;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
