.sortable-list {
  display: grid;
  margin-bottom: 1rem;
  width: 100%;

  ol {
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
      border-bottom: 1px solid $heather;
      display: block;
      line-height: 2.5rem;
      height: 2.5rem;
      white-space: nowrap;
      padding: 0 1rem;

      & > .item {
        display: grid;
        max-width: 800px;
        margin: 0 auto;
      }

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media(max-width: 500px) {
        & {
          height: auto;
          justify-content: start;
          padding: 1rem;
          line-height: 1.2rem;
        }
      }
    }
  }

  .no-items {
    font-size: 1.2rem;
    text-align: center;

    svg {
      display: block;
      width: auto;
      height: 2rem;
      margin: 1rem auto; 
    }
  }

  .sortings {
    background: $black;
    box-shadow: 0 1px 2px 1px rgba($black, 0.20);
    border-radius: 4px;
    background: $black;

    a {
      color: $white;
      display: block;
      padding: 0.5rem;
    }

    &.visible {
      visibility: visible;
      margin-top: 0.5rem;
      padding: 0.5rem;
      opacity: 1;
    }

    &.hidden {
      visibility: hidden;
      height: 0;
      opacity: 0;
    }
  }

  header {
    position: sticky;
    top: 0;
    grid-template-rows: 1fr 1fr;
    z-index: 2;

    & > .item {
      display: grid;
      max-width: 800px;
      margin: 0 auto;
    }

    &:not(.mobile) {
      padding: 0.3rem 1rem;
      box-shadow: 0 1px 2px 1px rgba($black, 0.20);
      background: $black;
      color: $white;
    }

    &.mobile {
      .buttons {
        display: flex;

        button {
          flex: 1;
          margin-right: 0.5rem;
        }
        a .sort {
          margin-left: -0.25rem;
        }
      }
    }

    a {
      display: inline-grid;
      grid-template-columns: auto 1fr;
      color: inherit;
      line-height: 1.5rem;
      text-decoration: none;

      .sort {
        pointer-events: none;
        transform: rotate(90deg);
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0.125rem;
      }

      svg {
        margin-left: 0.125rem;
        width: 1.125rem;
        height: 1.125rem;
        transition: all 200ms;

        path {
          fill: $white;
        }
      }

      &.active svg {
        opacity: 1;
      }

      &:active {
        transform: translateY(1px);
      }

      &.active.desc {
        svg {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
