.sortable-list {
  display: grid;
  margin-bottom: 1rem;
  width: 100%;

  .background {
    position: sticky;
    top: 0rem;
    pointer-events: none;

    &:after {
      position: absolute;
      display: block;
      content: ' ';
      top: -0.5rem;
      height: 3.5rem;
      //left: -0.5rem;

      width: 100%;
      background: rgba($white, 0.4);
      backdrop-filter: blur(3px);
      z-index: 0;
    }
  }

  ol {
    box-shadow: 0 1px 2px 1px rgba($black, 0.20);
    border-radius: 4px;
    margin: 0;
    padding: 0;

    li {
      text-decoration: none;
      display: block;
      line-height: 2.5rem;
      height: 2.5rem;
      white-space: nowrap;
      padding: 0 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $heather;
      }

      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  header {
    position: sticky;
    top: 1rem;
    padding: 0.3rem 1rem;
    box-shadow: 0 1px 2px 1px rgba($black, 0.20);
    border-radius: 4px;
    background: $black;
    color: $white;
    margin-bottom: 1rem;
    grid-template-rows: 1fr 1fr;
    z-index: 2;

    a {
      display: inline-grid;
      grid-template-columns: auto 1fr;
      color: inherit;
      line-height: 1.5rem;
      text-decoration: none;

      .sort {
        pointer-events: none;
        transform: rotate(90deg);
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 0.5rem;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        transition: all 200ms;

        path {
          fill: $white;
        }
      }

      &.active svg {
        opacity: 1;
      }

      &:active {
        transform: translateY(1px);
      }

      &.active.desc {
        svg {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
