button[type=submit].submit-button {
  background: $accent;
  text-align: left;
  position: relative;
  top: 0.25rem;

  .liquid-container, .liquid-child {
    height: 1rem;
  }

  &:not(.is-processing) .liquid-child {
    white-space: nowrap;
    display: inline-grid;
    grid-template-columns: auto auto auto;
  }

  .spinner {
    margin: 0 auto;
  }
}