{{search-field inputId=inputId query=(get displayValue key) onquery=(action 'query') icon=(if value 'link') link=this.link onchange=(action (mut query))}}

{{#if options}}
  {{#animated-container tagName='ul' class='auto-complete-options'}}
    {{#animated-each options key=key use=shuffle duration=duration as |option|}}
      <li onclick={{action 'change' option}}>{{highlight (get option key) match=query}}</li>
    {{/animated-each}}
  {{/animated-container}}
{{/if}}
{{#animated-container}}
  {{#animated-if (and query (not (get displayValue key))) use=fade duration=duration}}
    {{yield}}
  {{/animated-if}}
{{/animated-container}}