<header>
  Hello!
</header>
<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan id tortor in dapibus. Etiam et orci nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus aliquam dolor sit amet ipsum rhoncus luctus ac blandit erat. Aliquam sodales diam ut molestie faucibus. Suspendisse magna neque, facilisis non metus vitae, porttitor posuere odio. Nunc id tellus ipsum. Morbi hendrerit interdum libero, in efficitur dui sodales a. Fusce porta condimentum justo pretium malesuada. Praesent quis egestas erat.</p>
</div>
<footer>
  <button class='create' onclick={{action dismiss}}>Got it!</button>
</footer>