@import 'reset';
@import 'colors';
@import 'grid';
@import 'typography';
@import 'button';
@import 'action-bar';
@import 'button-group';
@import 'auto-complete';
@import 'confirm-button';
@import 'copy-field';
@import 'check-box';
@import 'create-button';
@import 'currency-field';
@import 'text-field';
@import 'dialog-box';
@import 'date-field';
@import 'form-for';
@import 'map-dialog';
@import 'navigation-bar';
@import 'pop-over';
@import 'progress-bar';
@import 'password-field';
@import 'search-field';
@import 'sortable-list';
@import 'select-field';
@import 'spinner';
@import 'snack-bar';
@import 'submit-button';
@import 'tabular-list';
@import 'text-editor';
@import 'tool-tip';
@import 'upload-field';
@import 'url-field';

* {
  box-sizing: border-box;
}

html {
  @extend .serif;
  font-size: 16px;
  line-height: 1.25rem;
}

.noscroll {
  overflow: hidden;
}

.text-area {
  @extend .text-field;
}

.number-field {
  @extend .text-field;
}

.datetime-field {
  @extend .date-field;
}

a {
  color: $accent;
}

.liquid-container:not(.liquid-animating) {
  &,
  .liquid-child {
    overflow: visible;
  }
}

@keyframes hop {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(3px);
  }

  40% {
    transform: translateY(-3px);
  }

  60% {
    transform: translateY(0);
  }
}

.bounce circle {
  animation: hop 1s ease infinite;

  &:nth-of-type(1) {
    animation-delay: .1s;
  }

  &:nth-of-type(2) {
    animation-delay: .2s;
  }
}
