@import '@queertangocollective/ui';

section, .container {
  max-width: calc(800px + 2rem);
  padding: 0 1rem;
  margin: 1rem auto;
}

.navigation-bar a.home {
  color: $white;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.4rem;
}

.sortable-list.countries .item {
  grid: 100% / calc(40% - 35px) 70px calc(50% - 35px);

  &.mobile {
    grid: 100% / auto 30px;
  }
}
.sortable-list.countries li .code {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-variant-caps: all-small-caps;
}

img {
  max-width: 100vw;
}