@import '@queertangocollective/ui';

#countries {
  .name {
    width: calc(40% - 35px);
  }
  .code {
    width: 70px;
  }
  .capital {
    width: calc(50% - 35px);
  }
  li .code {
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-variant-caps: all-small-caps;
  }
}

img {
  max-width: 100vw;
}