<div class='background'></div>
<header>
  {{yield (hash item=(component 'sortable-list/list-item' sort=sort))}}
</header>
{{#if rows.length}}
  <ol>
    {{#each rows as |row|}}
      <li>
        {{~yield (hash item=(component 'sortable-list/list-item' item=row))~}}
      </li>
    {{/each}}
  </ol>
{{else}}
  {{yield to='inverse'}}
{{/if}}
{{#if hasMore}}
  <div>
    {{#submit-button onsubmit=(action 'loadMore' rows.length)}}
      Load More Results
    {{/submit-button}}
  </div>
{{/if}}
