<div class='background'></div>
<header>
  {{yield (hash item=(component 'sortable-list/list-item' sort=sort))}}
</header>
{{#animated-container}}
  {{#animated-if rows.length use=fade duration=duration}}
    {{#animated-container tagName='ol'}}
      {{#animated-each rows use=shuffle duration=duration as |row|}}
        <li>
          {{~yield (hash item=(component 'sortable-list/list-item' item=row))~}}
        </li>
      {{/animated-each}}
    {{/animated-container}}
  {{else}}
    {{yield to='inverse'}}
  {{/animated-if}}
{{/animated-container}}
{{#if hasMore}}
  <div>
    {{#submit-button onsubmit=(action 'loadMore' rows.length)}}
      Load More Results
    {{/submit-button}}
  </div>
{{/if}}
