<div class="progress-bar" role="progressbar" aria-valuenow={{value}} aria-valuemin=0 aria-valuemax=100 aria-busy={{if (and (gt value 0) (lt value 100)) true false}}>
  <div class="inner" style={{style}}></div>
</div>
