{{#liquid-if hasIcon class='search-icon'}}
  {{icon 'search' class='search'}}
{{/liquid-if}}
{{text-field
  inputId=inputId
  value=value
  onchange=(action 'change')
  name=name
  placeholder=placeholder
  disabled=disabled}}
{{#liquid-if value class='clear'}}
  <span onclick={{action clear}}>
    {{icon 'cancel'}}
  </span>
{{/liquid-if}}
