{{#animated-container class='search-icon'}}
  {{#animated-if hasIcon use=fade duration=duration}}
    {{icon 'search' class='search'}}
  {{/animated-if}}
{{/animated-container}}
{{text-field
  inputId=inputId
  value=value
  onchange=(action 'change')
  name=name
  placeholder=placeholder
  disabled=disabled}}
{{#animated-container class='clear'}}
  {{#animated-if value use=fade duration=duration}}
    <span onclick={{action clear}}>
      {{icon 'cancel'}}
    </span>
  {{/animated-if}}
{{/animated-container}}
